<div class="page-header">
  <h1>Tasks Per User for <%= @project.name %></h1>
  <%= link_to sanitize('Back to ' +@project.name + " analytics"), project_analytics_path(@project) %>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Tasks Assigned By User</h2>
    <script type="text/javascript">
          google.load("visualization", "1", {packages:["corechart"]});
          google.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Team Member', 'Tasks'],
              <% @numberAssignedByUser.each do |worker, number| %>
                ['<%= worker.firstname + ' ' + worker.lastname %>', <%= number %>],
              <% end %>
            ]);

            var options = {
            };

            var chart = new google.visualization.PieChart(document.getElementById('numberassignedbyuserchart'));
            chart.draw(data, options);
          }
    </script>
    <div id="numberassignedbyuserchart" style="width:80%; height:600px;"></div>
  </div>
</div>


