<div class="page-header">
	<h1>Subscribe to Agendue for Business</h1>
	<%= link_to "Back", request.referrer %>
</div>
<div class="panel panel-default">
  <div class="panel-body">
  	<table>
		<td width="60%">
			<p>That feature is reserved for our Agendue Business users!</p>
			<p><%= link_to "Contact Us", contact_path %> to sign your business up.</p>

			<p>Thanks for using Agendue. Let's get things done, together!</p>
		</td>

		<td width="40%">
			<%= image_tag "AgenduePlus.png", :width => "40%" %>

		</td>
	</table>
  </div>
</div>

