// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formcontainer {
    width: 340px;
}
.fixedwidth {
    float: right;
}
.oauthlogin-button img{
	height:50px;
	display: inline;
}
.oauthlogin-button {
	display:inline;
}