<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  </head>
  <div style="font-family:'Lato'; width:600px; margin-left:auto;margin-right:auto;">
    <img src="http://i.imgur.com/KPlzet8.png" width="60px" style="display:inline;width:100px;margin-left:auto;margin-right:auto;"/>
    <h1 style="display:inline;font-size:60px;">Agendue</h1>
    <hr>
    <h1>You've been added to a project</h1>
    <p>It looks like you've been added to the project <%= @project %>, but you don't have an Agendue account.</p>
    <p>Create an account at <a href="https://www.agendue.com">Agendue.com</a> and have someone share the project with you again.</p>
    <p>Thanks for using Agendue. Let's get organized together.</p>
    <br>
    <p>Thanks,</p>
    <p>The Agendue Team</p>
    <footer style= "position: relative;
                    font-family:'Lato'">
    <br>
    <p>Stop receiving these emails by logging in and changing your account settings.</p>
    &copy Fogerty Lombardo, LLC |
    <a style="" href="https://www.agendue.com/privacy">Privacy Policy</a> | 
    <a style="" href="https://www.agendue.com/contact">Contact Us</a>
  </footer>
  </div>
  </body>
</html>