<div class="page-header">
  <h1>Create Password</h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <p>You must add a password in order to sign in without Facebook or Google and use Agendue mobile apps.</p>
    <%= form_for @user, :url => user_path(@user.id ), format: 'html' do |f| %>
      <p>Change Password</p>
      <div class="input-group">
        <span class="input-group-addon">Password</span>
        <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">Confirm Password</span>
        <%= f.password_field :password_confirmation, :autocomplete => "off", :class => "form-control" %>
      </div>
      <br>
      <div class="input-group">
        <%= button_to user_path(@user.id), :method => :post, :class => "btn btn-default green" do %>
            <span class="glyphicon glyphicon-floppy-disk"></span> Create Account
        <% end %>
      </div>
    <% end %>
  </div>
</div>