<h1><span class="blue">The Agendue <span class="orange">Team</span></h1>

<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr>
        <td width="160px"><%= image_tag "about/Lombardo.jpeg", :width => "160px" %></td>
        <td>
          <h2>Alec Lombardo</h2>
          <p>If it works, he probably wrote it</p>
        </td>
      </tr>
      <tr>
        <td width="160px"><%= image_tag "about/Fogerty.jpeg", :width => "160px" %></td>
        <td>
          <h2>Dan Fogerty</h2>
          <p>Business, marketing, and finance guru</p>
        </td>
      </tr>
      <tr>
        <td width="160px"><%= image_tag "about/Li.jpeg", :width => "160px" %></td>
        <td>
          <h2>Alec Li</h2>
          <p>Android developer and videography wizard</p>
        </td>
      </tr>
      <tr>
        <td width="160px"><%= image_tag "about/Domingo.jpeg", :width => "160px" %></td>
        <td>
          <h2>Rafael Domingo</h2>
          <p>UI and UX design mastermind</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>