<div class="page-header">
  <h1>Contact Us</h1>
</div>
<div class="panel panel-default">
  <div class="panel-body">
  	<h2>Agendue for Business</h2>
  	<p>If you'd like to sign up for Agendue for Business, please email us at <a href="mailto:team@agendue.com">team@agendue.com</a> and we'll help make you a deal.</p>

  	<h2>Comments and Questions</h2>
	<p>Have any comments, questions, or concerns? Shoot us an email at <a href="mailto:team@agendue.com">team@agendue.com</a> and we'll get back to you as soon as possible.</p>

	<h2>Our Team</h2>
	<p>If you'd like to learn more about our team, please visit <%= link_to "Agendue.com/About", about_path %>.</p>

	<h2>Press</h2>
	<p>If you'd like to write about Agendue, please have a look at our <%= link_to "Press Kit", "https://drive.google.com/open?id=0B68yofGBNAiUUjdIRHlISTBhOFE&authuser=0", :target => "_blank" %></p>

	<h2>Acknowledgements</h2>
	<p>To see what open source software we used to help make Agendue great, have a look <%= link_to "here", acknowledgements_path %></p>
  </div>
</div>

